@import url("normalize.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic);
*,
*:before,
*:after{
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 -webkit-box-sizing: border-box;
}
.row:after,
.container:after,
.clearfix:after {
    clear: both;
	content: " ";
	height: 0px;
	display: block;
}
.row {
	margin-left: -15px;
	margin-right: -15px;
}
.container {
	position: relative;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    position: relative;
    display: block;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col_right {float: right;}
 
.col_first {padding-left: 0px;}
 
.col_last {padding-right: 0px;}
 
.col_12 {width: 100%;}
.col_11 {width: 91.66666667%;}
.col_10 {width: 83.33333333%;}
.col_9  {width: 75%;}
.col_8  {width: 66.66666667%;}
.col_7  {width: 58.33333333%;}
.col_6  {width: 50%;}
.col_5  {width: 41.66666667%;}
.col_4  {width: 33.33333333%;}
.col_3  {width: 25%;}
.col_2  {width: 16.66666667%;}
.col_1  {width: 8.33333333%;}

.hidden {
	display: none!important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}
.page_title {
	text-transform: uppercase;
    display: inline-block;
    font-size: 22px;
    margin: 0 0 10px 0;
	font-weight: 500;
    color: #41ade2;
}
.page_title .filtered {
	display: block;
	font-size: 14px;
	color: #000;
}
.block_heading,
.h1 {
	display: block;
    padding: 0 0 5px;
    border-bottom: solid 3px #f3f3f3;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 15px;
    color: #000;
    line-height: 25px;
}
.h1 {
	font-size: 20px;
}
.block_heading::after,
.h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 70px;
    background-color: #41ade2;
}
.block_heading a {
	text-decoration: none;
	color: #000;
}
.block_heading a:hover {
	color: #41ade2;
}
.block {
  	margin-bottom: 30px;
}
.no_bottom {
	margin-bottom: 0;
}
a {
	text-decoration: underline;
	color: #777;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 15px 0;
}
img {
	max-width: 100%;
	color: #f00;
}
/*Формы*/
.form_input {
    background: #fff;
    padding: 8px 6px;
    border: 1px solid #e7e4de;
    width: 100%;
}
textarea {
	font-family: 'Roboto', sans-serif;
    font-size: 13px;
	background: #fff;
    padding: 4px 6px;
    border: 1px solid #e7e4de;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;;
}
::-webkit-placeholder,
:-moz-placeholder,
::-moz-placeholder,
::-ms-placeholder,
::placeholder {
	font-family: 'Roboto', sans-serif;
}
:focus {
	outline: none;
}
.form_group  {
	margin: 0 0 15px 0;
}
.form {
	max-width: 420px;
}
.register_form {
	max-width: 440px;
}
.comment_form .button,
.feedback_form .button,
.register_form .button {
	margin-top: 10px;
	float: right;
}
.captcha {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 20px;
}
.captcha img {
	vertical-align: bottom;
}
.input_captcha {
    background: #fff;
    padding: 8px 6px;
    border: 1px solid #e7e4de;
    width: 150px;
    font-size: 13px;
}
/* Сообщение с ошибкой */
.message_error{
	clear: both;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
	color: red;
	background-color: #ffcaca;
	border: 1px dotted #ff4545;
}
/*Кнопки*/
.button,
.checkout_button {
	display: inline-block;
	padding: 9px 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    background: #41ade2;
    font-size: 13px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button:hover {
	background: #2096d0;
}
.checkout_button {
	margin-bottom: 20px;
	background: #FF9800;
}
.checkout_button:hover {
	background: #F99606;
}
body {
	font-size: 14px;
    color: #777;
    min-width: 320px;
    background: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
#main{
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 30px;
}
/*Хедер*/
header {
	background: #fff;
}
/*Верхняя строка*/
#header_top {
    font-size: 13px;
    line-height: 18px;
    border-bottom: solid 1px #eaeaea;
}
#menu {
	margin: 0;
	float: left;
	list-style: none;
	padding: 9px 0;
}
#menu li {
	display: inline-block;
    padding: 0 10px;
    border-right: 1px dotted;
}
#menu a,
#account a,
.callback_link {
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#menu a:hover,
#account a:hover,
.callback_link:hover {
	color: #41ade2;
}
#user_block {
	float: right;
}
#user_block > div {
	float: left;
	margin-right: 1px;
}
#user_block a {
	text-decoration: none;
}
#languages,
#currencies {
    z-index: 2;
	position: relative;
	text-align: center;
}
#user_block .current {
	padding: 9px 10px 9px 12px;
	background: #eeeeee;
	cursor: pointer;
}
#user_block .current:hover {
	color: #fff;
	background: #41ade2;
}
#user_block .current span {
	text-transform: uppercase;
	display: inline-block;
}
#user_block .current:after {
	content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: currentColor transparent transparent transparent;
	margin-left: 5px;
	vertical-align: 2px;
}
.drop {
	position: relative;
}
#user_block .dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	z-index: 2;
	border-style: solid;
	border-width: 1px 1px 5px;
	border-color: #41ade2;
	top: 100%;
	left: 0;
	background-color: #fff;
}
#user_block  li {
	margin-bottom: 1px;
}
#user_block  li.selected,
#user_block  li:hover {
	background-color: #f1f1f1;
}
#user_block .dropdown a {
	display: block;
	padding: 5px 10px;
	text-transform: uppercase;
}
#account a,
#wishlist span,
#wishlist a {
	display: block;
	float: left;
	padding: 9px 10px;
}
.call_wrap {
	padding: 9px 10px;
}
.callback_link {
	border-bottom: 1px dotted #41ade2;
}
.callback_link:hover {
	border-bottom-color: transparent;
	color: #41ade2;
}
/*Хедер средняя часть*/
#header_center {
	padding: 20px 0 15px;
}
#logo {
	float: left;
}
#logo a {
	text-decoration: none;
	font-size: 42px;
	color: #41ade2;
	font-weight: bold;
	line-height: 1;
	letter-spacing: -1px;
}
#logo a span {
	color: #000;
	font-size: 40px;
	letter-spacing: -2px;
}
#top_contact {
	float: left;
	color: #000;
	margin-left: 50px;
	font-size: 23px;
	line-height: 1.2;
	font-weight: 500;
}
#top_contact span {
	display: block;
}
#search {
	float: right;
	margin-right: 30px;
	margin-top: 5px;
}
#search form {
	padding: 0;
	font-size: 0;
	margin: 0;
}
input.input_search {
    font-size: 14px;
	padding: 4px 20px;
    width: 380px;
    height: 43px;
    color: #999;
    border: solid 1px #e1e1e1;
    border-right: none;
    box-shadow: none;
    display: inline-block;
}
.button_search {
	height: 43px;
    width: 43px;
    padding: 0;
    color: #fff;
    display: inline-block;
    background-color: #41ade2;
    background-image: url(../images/sprite.svg);
    background-position: 12px -90px;
    border: none;
    border-radius: 0;
    vertical-align: top;
}
.button_search:hover {
	background-color: #2096d0;
}
#cart_informer {
	float: right;
	margin-top: 5px;
}
.cart_info {
	display: block;
	line-height: 43px;
    height: 43px;
    color: #fff;
    overflow: hidden;
    font-size: 14px;
    background: #41ade2;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
}
.cart_info::before {
	content: "";
    display: block;
    height: 100%;
    width: 56px;
    border-right: solid 1px #2096d0;
    background-image: url(../images/icon_cart.png);
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}
.cart_info:hover {
	color: #fff;
}
a.cart_info:hover:before {
	background-color: #2096d0;
}
.cart_info span {
	padding: 0px 12px;
}
.cart_dropdown {
	display: none;
}
/* Футер */
#footer {
	background-color: #1c242f;
    padding: 30px 0 0;
    color: #909090;
    position: relative;
    overflow: hidden;
}
#footer a {
    color: #999;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#footer a:hover {
    color: #fff;
}
#subscribe_container {
	padding: 0 0 30px;
    text-align: center;
    position: relative;
	border-bottom: solid 1px #151b23;
    margin-bottom: 30px;
}
.subscribe_heading {
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	text-align: center;
	display: block;
	text-transform: uppercase;
    margin: 0 0 20px;
}
input.subscribe_input {
    height: 50px;
    border: none;
    vertical-align: top;
    padding: 5px 15px;
    background: #f5f5f5;
    color: #030303;
    width: 60%;
    font-size: 13px;
}
#subscribe_container .button {
    height: 50px;
    min-width: 130px;
    margin-left: -4px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#footer_menu {
	margin: 0;
	list-style: none;
	float: left;
	padding: 0;
}
#footer_menu li {
	display: inline-block;
	margin-right: 30px;
}
#payments {
	float: right;
	font-size: 0;
	margin-top: -10px;
}
#payments div {
	display: inline-block;
	margin-right: 9px;
    height: 38px;
    width: 58px;
    background-image: url(../images/payments.png);
}
.payment_1 {
	background-position: 0 px;
}
.payment_2 {
	background-position: 0 -40px;
}
.payment_3 {
	background-position: 0 -80px;
}
.payment_4 {
	background-position: 0 -120px;
}
#copyright {
	padding: 20px 0;
	clear: both;
	text-align: center;
}
/*Главный баннер*/
#main_banner .bx-wrapper .bx-pager {
	bottom: 30px;
}
/*Меню каталога*/
#catalog_menu .block_heading {
	margin-bottom: 5px;
	font-size: 20px;
}
#catalog_menu .block_heading::before{
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  background: url(../images/icon_menu.png);
  position: relative;
  margin-right: 10px;
}
#catalog_menu {
	padding-top: 0;
}
#catalog_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#catalog_menu ul li {
	position: relative;
}
#catalog_menu > ul > li > a {
	text-transform: uppercase; 
    font-size: 15px;
    font-weight: 500;
}
#catalog_menu a {
	display: block;
	padding: 12px 25px 12px 0px;
	color: #000;
	text-decoration: none;
	border-bottom: solid 1px #e9e9e9;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#catalog_menu .submenu a {
	padding-left: 20px;
}
#catalog_menu  a:hover,
#catalog_menu  a.selected {
	color: #41ade2;
}
.submenu{
	display: none;
}
.opened .submenu {
	display: block;
}
.switch {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 11px;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    background: url(../images/sprite.svg) 3px -150px no-repeat;
}
.opened .switch,
.parent:hover > .switch  {
	background-position: 3px -200px;
}
.switch.active {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}
/*Каталоги*/
.block_name,
.block_name a {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.products {
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;;
}
#products_content .product,
.wish_products .product {
	margin-bottom: 30px;
}
.inner {
	border: 1px solid #e9e9e9;
	padding: 15px;
	text-align: center;
	background-color: #fff;
}
.products .image {
	position: relative;
	text-align: center;
	margin-bottom: 10px;
	padding: 10px 0px;
}
.products .image a {
	display: block;
	height: 200px;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}
.image img:not(.specialStarMain){
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	max-height: 100%;
}
.images img{
    position: relative;
    top: 50%;
    max-height: 100%;
}
.relProd {
	position: absolute;
	top: 0;
	left:0;
    z-index: 1;
}
.product_name {
	display: block;
	font-size: 17px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 20px;
    height: 40px;
}
.product_name:hover {
	color: #41ade2;
}
.product .price {
	font-size: 18px;
	color: #41ade2;
	white-space: nowrap;
}
.product .price span{
	font-weight: 600;
	font-size: 24px;
}
.old_price {
	text-decoration:line-through;
	white-space: nowrap;
	font-size: 15px;
	margin-right: 10px;
}
.button_container {
  font-size: 0;
  display: inline-block;
}
.compare,
.wishlist {
	display: inline-block;
	vertical-align: bottom;
}
.wishlist {
	margin: 0 1px;
}
.product .comparison_button,
.product a.wishlist {
    height: 36px;
    width: 40px;
    color: #fff;
    background-color: #d7d7d7;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: relative;
	display: block;
}
.product .comparison_button span,
.product a.wishlist span {
	display: none;
	position: absolute;
	width: 100px;
	text-align: center;
	background-color: #41ade2;
	color: #fff;
	top: -30px;
	left: 50%;
	padding: 4px 0;
	font-size: 12px;
	margin-left: -50px;;
}
.product .comparison_button:hover span,
.product a.wishlist:hover span {
	display: block;
}
.product .comparison_button:hover::before,
.product a.wishlist:hover::before {
	content: "";
	display: block;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -8px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 8px 0 8px;
	border-color: #41ade2 transparent transparent transparent;
}
.product .comparison_button {
	background-image: url(../images/icon_compare.png);
}
.product a.wishlist {
	background-image: url(../images/icon_wishlist.png);
}
.product .comparison_button:not(.add),
.product a.wishlist.selected {
    background-color: #2096d0;
}
.product .comparison_button:hover,
.product a.wishlist:hover {
	background-color: #41ade2;
}
.select_variant {
	height: 35px;
	padding: 0 5px;
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	width: 176px;
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC") no-repeat scroll right 0.75rem center / 8px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.sort {
	margin-bottom: 15px;
	text-align: right;
}
p.not_in_stock {
	font-size: 14px;
	 margin: 5px 0 0 0;
}
/*Просмотренные товары*/
#browsed_products {
	margin: 0 -5px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
#browsed_products li{
	float: left;
	width: 33.333333%;
	padding: 0 5px;
	margin-bottom: 10px;
}
#browsed_products a {
	display: inline-block;
	height: 72px;
	border: 1px solid #e9e9e9;
	line-height: 60px;
	padding: 5px;
	text-align: center;
	width: 72px;
	font-size: 0;
}
#browsed_products img {
	max-height: 100%;
	vertical-align: middle;
}
#left .button {
	font-size: 13px;
    padding: 7px 15px;
}
/*Блок Преимущества*/
#advantages {
	background-color: #fff;
	padding: 15px 0;
	margin-bottom: 20px;
}
.advantage_name {
	display: block;
	font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 5px;
}
#advantages p {
	margin: 0;
}
.a_icon {
	display: block;
    float: left;
    margin: 0 30px 0 0;
    position: relative;
    height: 68px;
    width: 68px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #41ade2;
}
.a_icon:after {
    content: "";
    height: 1px;
    width: 1px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent #41ade2;
    position: absolute;
    top: 27px;
    right: -16px;
}
.advantage_1 .a_icon {
	background-image: url(../images/icon_shipping.png);
}
.advantage_2 .a_icon {
	background-image: url(../images/icon_heart.png);
}
.advantage_3 .a_icon {
	background-image: url(../images/icon_gift.png);
}
#all_brands {
	border: 1px solid #efefef;
	margin: 0;
}
#all_brands a {
	text-decoration: none;
	display: block;
	text-align: center;
}
#all_brands a:hover {
	color: #41ade2;
}
#main .owl-prev,
#main .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 20px;
    height: 30px;
    background-image: url(../images/sprite.svg);
    background-color: #d7d7d7;
    text-align: center;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#main .owl-prev {
	left: 0px;
	background-position: 3px -2px;
}
#main .owl-next {
	right: 0px;
	background-position: 7px -52px;
}
#main .owl-prev:hover,
#main .owl-next:hover {
	background-color: #41ade2;
}
#blog_menu ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.post_date {
	display: inline-block;
	margin: 0px 0 9px 0;
	background: #d7d7d7;
	color: #fff;
	font-size: 12px;
	padding: 6px 10px;
	width: 85px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#blog_menu li:hover .post_date {
    background-color: #41ade2;
}
.post_img {
    float: left;
    width: 150px;
    height: 140px;
}
#blog_menu .text_container {
	height: 102px;
}
.text_container {
	font-size: 13px;
	overflow: hidden;
	line-height: 17px;
}
/*Хлебные крошки*/
#breadcrumbs {
    padding: 12px 0;
    color: #fff;
    font-size: 13px;
    background: #41ade2;
    margin: 0 0 25px 0;
}
#breadcrumbs a {
	color: #fff;
}
#breadcrumbs :last-child {
	text-decoration: none;
	cursor: default;
}
/*Категории*/
.cat_description {
	margin: 0 0 10px 0;
}
.cat_img {
	margin-bottom: 5px;
}
.sort a {
	margin: 0 3px;
	text-decoration: none;
}
.sort a:hover,
.sort a.selected {
	color: #41ade2;
}
#brands a,
#features a {
	display: block;
	padding: 3px 0;
	text-decoration: none;
}
#brands a:hover,
#features a:hover,
#brands a.selected,
#features a.selected {
	color: #41ade2;
}
#brands,
.feature_values {
	margin-bottom: 20px;
}
#features {
	margin-bottom: 30px;
}
/*Пагинация*/
.pagination {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}
.pagination a {
	display: inline-block;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    margin: 0 1px 0 0;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	min-width: 30px;
	padding: 7px 10px;
	text-align: center;
}
.pagination a.selected,
.pagination a:hover {
	border-color: #41ade2;
	background-color: #41ade2;
	color: #fff;
}
/*Страница товара*/
#product_images .image {
	height: 350px;
	padding: 15px;
	text-align: center;
	margin-bottom: 15px;
	position: relative;
	border: 1px solid #e9e9e9;
}
#product_images .owl-item {
	border: 1px solid #e9e9e9;
	padding: 5px;
	font-size: 0;
	height: 70px;
	text-align: center;
}
#product_images .owl-item img {
	width: auto!important;
	display: inline!important;
}
.single_name {
	font-weight: 500;
	font-size: 24px;
    margin: 0 0 10px;
    color: #000;
}
.annotation p {
	margin: 0 0 10px 0;
}
#product_info .price_container {
	margin-bottom: 15px;
}
#product_info .price span {
	font-size: 28px;
}
#product_amount {
	display: inline-block;
	margin-bottom: 20px;
	vertical-align: top;
	margin-right: 10px;
}
.plus,
.minus {
	float: left;
    margin: 0;
    background: #fff;
    display: block;
    width: 35px;
    border: solid 1px #e9e9e9;
    font-size: 21px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.plus:hover,
.minus:hover {
	background-color: #f3f3f3;
}
.amount_input {
	width: 70px;
    height: 35px;
    padding: 0;
    float: left;
    border: solid 1px #e9e9e9;
    border-left: none;
    border-right: none;
    font-size: 16px;
    color: #666;
    text-align: center;
}
#product_info .button {
    width: 230px;
    height: 48px;
    font-size: 16px;
}
#product_info a.wishlist,
#product_info .comparison_button {
	height: 48px;
    width: 48px;
}
#product_info .product_rating {
		  margin: 0 0 10px 0;;
}
#product_info .sku {
	margin: 0px 0 7px 0;
	float: right;
}
/*Табы в карточке товара*/
.tabs {
	margin: 30px 0;
}
.tab {
	display: none;
	padding: 15px;
}
.tab p {
	margin-bottom: 10px;
}
.tab_navigation a {
	display: inline-block;
    padding: 6px 15px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 1px #e9e9e9;
    border-bottom: none;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 500;
	font-size: 16px;
}
.tab_navigation a:hover {
	background: #83caec;
    border-color: #83caec;
    color: #fff;
}
.tab_navigation a.selected {
	background: #41ade2;
    border-color: #41ade2;
    color: #fff;
}
.tab_container {
    border: 1px solid #e9e9e9;
    border-top: solid 2px #41ade2;
}
/*Характеристики*/
.features {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #efefef;
}
.features  li {
	overflow: hidden;
}
.features  li + li {
	border-top: 1px solid #efefef;
}
.features label,
.features span {
	display: block;
	float: left;
	padding: 8px 15px;
}
.features label {
	width: 30%;
	font-weight: 500;
}
.features span {
	width: 70%;
}
/*Комментарии*/
.comment_form h2 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin: 0 0 5px 0;;
}
.comment_list {
	margin: 15px 0 0 0;
	list-style: none;
}
.comment_list li {
	padding-bottom: 15px;
}
.comment_name {
	font-weight: 500;
}
.comment_post {
    margin-top: 10px;
}   
/*Блог*/
#blog {
	margin: 0;
	padding: 0;
	list-style: none;
}
#blog li {
	overflow: hidden;
}
/*Страница Бренды*/
#brands_list {
	margin: 0;
	padding: 0;
	list-style: none;
}
#brands_list li {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
	vertical-align: bottom;
}
#brands_list img {
	max-height: 100px;
	max-width: 100px;
}
/*Корзрина*/
#purchases {
	width: 100%;
	text-align: center;
}
#purchases tr{
	border-top: 1px solid #e9e9e9;
}
#purchases th,
#purchases td {
	padding: 7px;
}
#purchases th{
	font-weight: 500;
}
#purchases .image {
	padding-left: 0;
	width: 62px;
}
#purchases .image a{
	border: 1px solid #e9e9e9;
	background-color: #ffffff;
	width: 55px;
	height: 55px;
	display: inline-block;
	vertical-align: middle;
}
#purchases .name{
	text-align: left;
}
#purchases .price {
	color: #777;
	font-size: 14px;
}
#purchases .remove a {
	color: #D6D6D6;
}
#purchases .remove a:hover {
	color: #e74c3c;
}
#cart_amount {
	display: inline-block;
}
#cart_amount .plus,
#cart_amount .minus {
    width: 28px;
    font-size: 16px;
    height: 28px;
    line-height: 26px;
}
.amounts {
	width: 32px;
    height: 28px;
    padding: 0;
    float: left;
    border: solid 1px #e9e9e9;
    border-left: none;
    border-right: none;
    color: #666;
    text-align: center;
}
#purchases .coupon .name {
	padding-left: 0;
}
input.coupon_code{
	width: 200px;
	height: 33px;
		  border: 1px solid #e9e9e9;
	padding: 0 5px;
	margin-right: 5px;
}
#purchases .total {
	text-align: right;
	font-weight: 500;
	color: #000;
	font-size: 18px;
}
#purchases .total span {
    color: #41ade2;
}
#purchases .bonus {
	font-weight: 500;
}
.order_info {
	margin-bottom: 30px;
	width: 100%;
}
.order_info tr:nth-child(even) {
	background-color: #fafafa;
}
.order_info td {
	padding: 10px;
	border: 1px solid #e9e9e9;
}
/*Доставка*/
#deliveries {
	margin: 0;
	padding: 0;
	list-style: none;
}
#deliveries label {
	font-weight: 500;
	color: #000;
	display: block;
	padding-left: 20px;
}
#deliveries input[type="radio"] {
  float: left;
  margin-top: 3px;;
}
#deliveries .description {
	padding-left: 20px;
	margin-top: 5px;
}
#orders_history {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Сравнение */
.cprs_show_options {
	height: 40px;
	margin-top: -40px;
}
.comparison_features {
	float: left;
	width: 30%;
}
.comparison_content {
    width: 846px;
}
.comparison_products {
	float: right;
	width: 70%;
	position: relative;
}
.comparison_product { float:left; }
.clear { clear: both; }
.comparison_content .cell {
	padding: 5px;
	border-bottom: 1px solid #D5D5D5;
}
.variant_radiobutton {
	margin: 5px 5px 0 0;
}
.cprs_image {
	text-align: center;
	min-height: 40px;
}
.owl-carousel .owl-item .big_image img,
.owl-carousel .owl-item .small_image img {
	display: inline;
	width: auto;
}
.cprs_image .big_image {
	display: block;
	height: 202px;
	line-height: 200px;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	margin:5px 0;
	background: #fff;
	border:1px solid #d5d5d5;
}
.cprs_image .big_image img {
	vertical-align: middle;
	max-height: 200px;
}
.cprs_image .small_image {
	display: inline-block;
	width: 52px;
	height: 52px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
	font-size: 0;
	margin: 5px;
	background: #fff;
	border: 1px solid #d5d5d5;
}
.cprs_image .small_image img {
	vertical-align: middle;
	max-width: 50px;
	max-height: 50px;
}
.comparison_product .cell:nth-child(even),
.comparison_features .cell:nth-child(odd) { background: #E9E9E9; }
.comparison_features .cell.cprs_image { background: none; }
.comparison_nav {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}
.comparison_nav [class*=comparison_] {
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	border-bottom: 1px solid #d5d5d5;
	opacity: 0;
	-webkit-transition: opacity ease 0.5s 0s;
	-moz-transition: opacity ease 0.5s 0s;
	-o-transition: opacity ease 0.5s 0s;
	transition: opacity ease 0.5s 0s;
	background: rgba(0, 0, 0, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAQAAACLBYanAAAA5ElEQVQ4y43Try/FYRQH4Oe6hiGYwCTTTDQik226/0AU/ShkCukGxUSBSBAFTdBskkkUE9hsPoK7Ud6v9+RnO2fnnA9N1bKto91M9kWclEnbkYgPKyXS51TEm6USGXIp4sVciYy4FvFkpkTG3Yp4MFUik+5F3JkokWmPIm6MlsisZxFXhktk0auIM/0lsuxdxLHeEln1KeJAT4ms+RKxo1UimyJivenWGzXot91uud3fwQ/Lg1euABa6yzw30MQqzlJ54MpXgbH/n67yfWHQRTcI802sIlKV4fyJ+d5/Mf9hWzra39kpbX2tHdO+AAAAAElFTkSuQmCC) center no-repeat;
}
.comparison_nav .comparison_next {
	right: 0;
	background: rgba(0, 0, 0, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAQAAACLBYanAAAA20lEQVQ4y6XTrS/GYRQG4IvXMAQTmGSaiUZksk33H4iij0KmkN6gmCgQCaKgCZpNMoliApvNLbBJjt/2PvnazrNz7puWti1dyncsYq9my95FHGpVbNGriBO9FZv1LOLCYMWmPYq4MlyxSfciboxVbNytiDsTFRtxLeLBVMWGXIp4MlOxPqciXixUrMeRiDdLFeu2L+LDSsW6bIv4tFqffk1EbDRB63+P2/lvXLeD/z7eYAX9zn6WOd/BWRocuEFUfkM32kF8536KcG6gg0o1Kud3zXfrmre0bdbkC6CsbX1hvsY8AAAAAElFTkSuQmCC) center no-repeat;
}
.comparison_slider:hover + .comparison_nav [class*=comparison_],
.comparison_nav:hover [class*=comparison_] {
		  opacity: 1;
}
.comparison_nav .comparison_prev:hover {
}
.comparison_nav .comparison_next:hover {
	background: rgba(0, 0, 0, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAeCAQAAACLBYanAAAA/ElEQVQ4y6XUr0uDYRTF8bO9okMNYlCWhk1Moq/6LcryYH3/weKiP4pmLZoWLGI0aNRgNNgMNsE0TFrEoCB4DBtYvNsDL0/9wH24954rMrrsUUL/P8sS5xhzFLE+avKFMadkMRJ1PjDmgvEYiZw3jLlhKkZiiReMuWMmRmKBZ4x5YD5GosojxjxRi5GY5R5jeizGSExzizGvrMRITHCJMe9sxUiMcYYxnzRiJMoc4w3zTStGosR+7tz80I6R0Gpn2evG7KSg7bjcwahyZU5GfTyhBRWuBs3cLDCWhAEnrMrf0s0VWN+1QRCumSwQqaRw9mN+ODzmGV12hx+MXxXoDXZOhF4EAAAAAElFTkSuQmCC) center no-repeat;
}
.comparison_prev a,.comparison_next a{
    display: block;
    width: 100%;
    height: 100%;
}

/*Информер Сравнение товаров*/
.cp_item {
	margin-bottom: 10px;
}
.cp_image {
	display: inline-block;
	margin-right: 6px;
	width: 60px;
	height: 60px;
	line-height: 50px;
	padding: 5px;
	font-size: 0;
	text-align: center;
	border: 1px solid #e0e0e0;
	background-color: #fff;
}
.cp_image img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.cp_item .comparison_button {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: top;
	background: url(../images/sprite.svg) 0 -250px no-repeat;
}
.cp_item .comparison_button:hover {
	background: url(../images/sprite.svg) 0 -300px no-repeat;
}
.cp_link {
	display: inline-block;
	width: 165px;
	vertical-align: top;
	padding-right: 10px;
	text-decoration: none;
}
.cp_link:hover {
	color: #41ade2;
}
.comparison_options_show {
	display: inline-block;
	padding: 6px 11px;
	text-decoration: none;
	margin: 0 5px 0 0;
}
.comparison_options_show:hover,.comparison_options_show.active {
	background: #fff;
	border: 1px solid #e9e9e9;
	padding: 5px 10px;
}
.comparison_options_show span { border-bottom: 1px dashed #41ade2; }
.comparison_options_show:hover span,.comparison_options_show.active span { border-color: transparent; }

/* Рейтинг товара */
.product_rating{
	position:relative;
	margin: 5px 0 10px;
}

.rating_starOff, 
.rating_starOn {
	display:inline-block; 
	vertical-align: top;
	width: 90px; /*ширина должна быть кратна высоте*/
	height:18px; 
	background:url(../images/rating.png) repeat-x left top;
}
.rating_starOn {
	display: block;
	background-position: left bottom;
}

.rating_text {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	line-height: 25px;
}

/*Промо изображения*/
.specialStar {
    position: absolute;
    top:4px;
    left:0px;
    max-width: 80px;
}
.specialStarMain {
	position: absolute;
        top:0px;
        left:0px;
        max-width: 80px;
}
/*Обратный звонок*/
.callback_title {
	display: block;
    border-bottom: solid 3px #41ade2;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 15px;
    color: #000;
	text-align: center;
	padding: 0 0 5px;
}
#callback_form .button {
	display: block;
    margin: 0 auto 3px;
    padding: 9px 25px 8px;
    font-weight: 500;
    font-size: 15px;
}
