compiled/*/*.php
vendor/
backend/design/compiled/*.php
files/products/*.jpg
files/products/*.jpeg
files/products/*.png
files/products/*.gif
files/products/*.tif
files/products/*.bmp
files/products/*.ico

files/*_resized/*.jpg
files/*_resized/*.jpeg
files/*_resized/*.png
files/*_resized/*.gif
files/*_resized/*.tif
files/*_resized/*.bmp
files/*_resized/*.ico

.idea/
tmp/
nbproject/
/log/
config/config.local.php