compiled/*/*.php
backend/design/compiled/*.php
files/products/*.jpg
files/products/*.jpeg
files/products/*.png
files/products/*.gif
files/products/*.tif
files/products/*.bmp
files/products/*.ico

files/blog_resized/*.jpg
files/blog_resized/*.jpeg
files/blog_resized/*.png
files/blog_resized/*.gif
files/blog_resized/*.tif
files/blog_resized/*.bmp
files/blog_resized/*.ico

files/brands_resized/*.jpg
files/brands_resized/*.jpeg
files/brands_resized/*.png
files/brands_resized/*.gif
files/brands_resized/*.tif
files/brands_resized/*.bmp
files/brands_resized/*.ico

files/categories_resized/*.jpg
files/categories_resized/*.jpeg
files/categories_resized/*.png
files/categories_resized/*.gif
files/categories_resized/*.tif
files/categories_resized/*.bmp
files/categories_resized/*.ico

files/deliveries_resized/*.jpg
files/deliveries_resized/*.jpeg
files/deliveries_resized/*.png
files/deliveries_resized/*.gif
files/deliveries_resized/*.tif
files/deliveries_resized/*.bmp
files/deliveries_resized/*.ico

files/payments_resized/*.jpg
files/payments_resized/*.jpeg
files/payments_resized/*.png
files/payments_resized/*.gif
files/payments_resized/*.tif
files/payments_resized/*.bmp
files/payments_resized/*.ico

.idea/
tmp/
