.admTools {
    background-color: #333;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
    left: -240px;
    position: fixed;
    top: 170px;
    transition: left 0.5s ease 0s;
    width: 240px;
    z-index: 9999;
}
.admTools.open {
    left: 0px; }
.admTools p {
    margin: 10px;
    color: #fff; }
.admTools .tool-descr {
    color: #8d8c8c;
    font-size: 12px; }
.admTools .tool-title {
    background-color: #484848;
    border-bottom: 1px solid #6d6d6d;
    border-top: 1px solid #6d6d6d;
    margin: 5px 0;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
}

.openTools {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #333 url("adm_tools.png") no-repeat scroll center center;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: block;
    height: 48px;
    position: absolute;
    right: -48px;
    top: -1px;
    width: 48px;
}

.admin_bookmark {
    background: rgba(0, 0, 0, 0) url("adm_ent.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 28px;
    margin: 10px;
    width: 28px;
}

.changeTools {
    background-color: #900000;
    border-radius: 25px;
    display: block;
    height: 38px;
    margin: 0 auto 10px;
    position: relative;
    transition: background 0.5s ease 0s;
    width: 65px;
}
.changeTools.on {
    background-color: #57d756; }
.changeTools.on span {
    left: 26px; }
.changeTools span {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 1px 0 rgba(50, 50, 50, 0.7);
    display: block;
    height: 34px;
    left: 0;
    margin: 2px;
    position: absolute;
    top: 0;
    transition: left 0.5s ease 0s;
    width: 34px;
}

.tooltip {
    width: 187px;
    display: none;
    position: absolute;
    opacity: .8;
    padding: 0.3125rem;
    font-size: 0.625rem;
    line-height: 0.875rem;
    background-color: #fff1f2;
    border: 0.0625rem solid #b8b8b8;
    z-index: 9999;
    border-radius: 0 0.125rem 0.125rem; }
.tooltip:before, .tooltip:after {
    display: block;
    position: absolute;
    content: "";
    border: 0.3125rem solid transparent; }
.tooltip:before {
    top: -0.625rem;
    left: -0.0625rem;
    border-left-color: #b8b8b8;
    border-bottom-color: #b8b8b8; }
.tooltip:after {
    top: -0.4375rem;
    left: 0;
    border-left-color: #fff1f2;
    border-bottom-color: #fff1f2; }
.tooltip a {
    display: block;
    color: #000;
    padding: 0.1875rem 0.125rem 0.3125rem 1.5625rem;
    background: no-repeat 0.3125rem center; }
.tooltip a:hover {
    background-color: #b5b5b5; }
.tooltip .admin_tooltip_edit {
    background-image: url("adm_edit.png"); }
.tooltip .admin_tooltip_add {
    background-image: url("adm_add.png"); }
.top_admin_bookmark{
    background-image: url("../../../images/admin_enter.png");
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    left: 4px;
    position: absolute;
    top: 1%;
    width: 50px;
}